* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

header {
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

nav p a, footer p a {
  font-size: 18px;
  color: #fff;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

section p {
  font-size: 14px;
}

#new-york {
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#new-york h3 {
  color: #fff;
}

footer {
  background: dimgray;
  text-align: left;
}

footer p {
  color: #fff;
  font-size: 11px;
}
